<h1><%= @task.title.capitalize %></h1>

<p>Details : <%= @task.details %></p>

<p>Done ? <%= @task.completed ? "Yes, well done" : "Not yet!" %></p>

<p><%= link_to "Retour à la liste", tasks_path  %></p>

<p><%= link_to "Update this task?", edit_path %></p>

<p><%= link_to "Delete this task?", task_path(@task), method: :delete, data:{confirm: "Are you sure?"} %></p>
